body {
  margin: 0;
  padding: 0 1rem;
}

h1 {
  text-align: center;
}

main {
  display: grid;
  gap: 1rem;
}

@media (width >= 600px) {
  main {
    grid-template-columns: 1fr 1fr;
  }
}

form {
  display: grid;
  gap: 1ch;
  padding: 0 1rem;
}

label {
  display: grid;
}

.photo {
  max-height: 200px;
}

.content {
  display: flex;
  flex-direction: row;
}

.leftside {
  min-width: 750px;
  margin-right: 30px;
}
